<google-map #map
            [center]="center"
            width="100%"
            height="100%">
    <!-- Marker -->
    <map-marker #markerElement
                *ngFor="let marker of markers"
                [title]="marker.title"
                [position]="marker.location"
                [options]="markerOptions"
                (mapClick)="openInfoWindow(marker, markerElement)">
    </map-marker>

    <!-- Marker info -->
    <map-info-window>
        <div class="pictly-map__thumb-title"> {{activeMarker?.title}} </div>
        <div class="pictly-map__thumb-user"> by {{activeMarker?.user}} </div>

        <div class="pictly-map__thumb-image">
            <img [src]="activeMarker?.url"
                 [title]="activeMarker?.title"
                 [alt]="activeMarker?.title" />
        </div>
    </map-info-window>
</google-map>
