@import "variables/index";

html, body, .pictly-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*
PLEASE READ:
Due to Angular transclusion, the route app component is added as a sibling of router-outlet,
but it also adds the app component itself as the root which bypasses our flex-layout implementation.
This is because the app component (e.g. pictly-home) is added programmatically, so we can't add fxLayout and
fxFlex rules to these app components.
 */
router-outlet ~ * {
  height: 100%;
}

[data-full-height-minus-header] {
  height: $app-height-minus-header;
}

[data-full-height] {
  height: 100%;
}

[data-full-width] {
  width: 100%;
}

[data-muted-dark] {
  color: $muted-dark;
}

[data-muted-light] {
  color: $muted-light;
}

[data-pointer-cursor] {
  cursor: pointer;
}

a {
  color: $info;
  text-decoration: none;
}
