<div fxLayout="row"
     class="pictly-wrapper">

    <div fxFlex="1 1 100%" fxLayout="column">
        <!-- Header -->
        <mat-card class="pictly-header"
                  fxFlex.gt-md="1 1 auto"
                  fxLayout.gt-md="row">

            <!-- Logo -->
            <img alt="pictly logo"
                 fxFlex.gt-md="0 0 184px"
                 src="/assets/pictly-logo.png"
                 title="pictly logo"/>
        </mat-card>

        <!-- Main Content (Primary Routing) -->
        <section data-full-height-minus-header
                 fxFlex="grow">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
