@import "../variables/index";

.pictly-search {
  &__filter {
    overflow: hidden;
    padding: 0 ($app-padding / 2) !important;
  }

  &__photos {
    overflow-y: scroll;
  }

  &__photo {
    cursor: pointer;
    margin-bottom: $app-padding;
    padding: 0 !important;
    overflow: hidden;
    max-height: 300px;

    img {
      width: 100%;
      margin: 0 !important;
    }

    &-text {
      display: none;
      width: 100%;
      background: rgba(0, 0, 0, 0.75);
      max-height: 100px + ($app-padding / 2);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    // Only show the image details if the user hovers over the photo
    &:hover {
      .pictly-search__photo-text {
        display: block !important;
      }
    }

    &-title {
      width: calc(100% - (#{$app-padding} * 2));
      padding: $app-padding / 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      font-size: 1.1em;
    }

    &-description {
      padding: $app-padding / 2;
      padding-top: 0 !important;
      color: $muted-light;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-column {
      max-width: 0 !important;
    }
  }

  &__no-results {
    padding: 15px;
    font-size: 1.25em;
    color: $muted-light;
  }
}
